{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <div class="container">

        <div class="row">

        {% for product in products %}
            <div class="col-xl-4">

            <div class="card mt-2" style="width: 18rem;">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.omschrijving }}</h5>
                    <h5 class="card-title">{{ id }}</h5>
                    <p class="card-text">Prijs | ${{product.prijs}}</p>
                    <a class="btn btn-primary" href="{{ path('cart_add', {'id': productId })}}">Add to cart</a>
                </div>
            </div>
            </div>

        {% endfor %}
        </div>

    </div>
{% endblock %}
