{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
  .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="container">

  <div class="row">

    <h3 class="alert alert-success mt-5 mx-auto">{{  app.user.naam  }} uw bestelling is doorgestuurd dank u wel voor de aankoop.</h3>
    <a target="_blank" href="{{ path('pdf', {'id': factuur.id}) }}">Download hier pdf</a>

  </div>

</div>
{% endblock %}
